<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @stock.location %>
</p>

<p>
  <strong>Product:</strong>
  <%= @stock.product %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @stock.qty %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
