<p id="notice"><%= notice %></p>

<h1>Listing Stock Requests</h1>

<div class="table-responsive">
  <table class="table table-bordered"> 
    <thead>
      <tr>
        <th>SKU Code</th>
        <th>Product</th>
        <th>Remarks</th>
        <th>Qty</th>
        <th>Stock On Hand</th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= request.product.sku %></td>
          <td><%= request.product.name %></td>
          <td><%= request.remarks %></td>
          <td><%= request.qty %></td>
          <td>1</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>

<%= link_to 'New Stock', new_stock_path %>
